<footer>
  <div class="justify-center w-fit mx-auto text-center py-12">
    <p class="font-medium text-base text-base-900">Distribuidora Panini Colombia</p>
    <p class="text-sm mt-1 text-base-500 ">
      Diseñado y construido para usted con mucho cariño y dedicación<br />por
      <a
        href="https://github.com/jhonatanramires"
        class="underline hover:text-base-500 duration-200"
      >
        Jhonatan Ramirez.
      </a>
    </p>
  </div>
</footer>
